@media (max-width: 530px){

  #hero{
    display: none;
  }

  #productos{
    margin-top: 30px;
  }

  #sobre-nosotros{
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0px;
    font-size: 12px;
  }
  
  .nosotros {
    text-align: center;
    justify-content: center;
  }
  
  footer{
    justify-content: center;
  }

  .redes-footer img {
    height: 21px;
    width: 21px;
  }
  
  .more-info{
    font-size: 12px;
  }
  
  #promos img{
    height: 150px ;
    width: 265px ;
  }
  
  #article img{
    height: 142px;
    width: 198px;
  }

  /* CONTACTO */

  #container-form {
    grid-gap: 0px;
    padding: 5px;
  }

  #container-form h2 {
    font-size: 30px;
  }

  #container-form a{
    font-size: 20px;
    overflow-wrap: anywhere;
  }
}